{% extends "base.html.twig" %}
{% block body %}
    <main class="main">
        <h1>Card Deck</h1>
        <div class="card-container">
            {% for card in card_deck.getDeck() %}
                <div class="card">
                    <h3 class="{{card.getType()}} type">{{card.getType()}}</h3>
                    <h3 class="value {{card.getType()}}">{{ card.getValue()}}</h3>
                    
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
