{% extends "base.html.twig" %}
{% block body %}
    <main class="main">
      <h1>BalckJack</h1>
      <a href="{{ path('blackjackdoc')}}"> BlackJack Documentation</a>
      <p> 
            BlackJack är ett rund baserat kortspel där man endast spelar mot dealern. Man satsar antingen pengar eller markörer varje runda.
            Målet är att Få 21 i kort värde eller så nära som möjligt. Du vinner ifall du slår dealern poäng och då vinner du din satsning dubbelt,
            har dealern högst så förlorar du din satsning. Man har flera vall man köra när det blir ens tur tex Hit (dra ett till kort) eller stand (stanna).
            <h2>Kortens värde</h2>
           
      </p>
    </main>
{% endblock %}
