body {
    background-color: rgb(161, 199, 213);
}

.main {
    margin: 0 auto;
    width: 65%;
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    min-height: 600px;
}

.maincrazy {
    margin: 0 auto;
    width: 65%;
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    padding: 20px;
    border-radius: 25px;
}

.aside {
    background-color: #fff;
    border-radius: 25px;
    padding: 20px;
    width: 20%;
}

.split-container {
    display: flex;
    justify-content: space-around;
}

.head {
    display: flex;
    align-items: center;
    margin: 7px;
    height: 120px;
    border-radius: 15px;
    
    background: linear-gradient(to right, #fff, #75dada);
}
.head h1 {
    color: #75dada;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 7px;
    height: 60px;
    border-radius: 15px;
    background: linear-gradient(to right, #fff, #75dada);
}

.navigation a {
    margin: 25px;
    font-size: 20px;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 7px;
    height: 60px;
    border-radius: 15px;
    background: linear-gradient(to right, #fff, #75dada);
}

.foot p {
    color:#058d8d;
    margin: 20px;
    
}

/* kmom02 */
/* body {
    margin: 0 auto;
    max-width: 800px;
    background-color: #eee;
    font-size: 2em;
} */
main {
    margin: 0 auto;
    padding: 0.5em;
    width: 70%;
}

input {
    font-size: 1em;
}


.die {
    font-size: 3em;
}

ul .dicearea{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul .dicearea li {
    display: inline;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    max-width: 360px;
}

.card {
    display: flex;
    position: relative;
    width: 80px;
    height: 120px;
    border: #000 solid 3px;
    border-radius: 10px;
    margin-top: 7px;
    font-size: 30px;

}

.type {
    position: absolute;
    bottom: 50px;
    left: 5px;
}

.value {
    position: absolute;
    top:7px;
    left: 30px;

}
.♥ , .♦{
    color: #f10000;
}

.♠ ,.♣ {
    color: #000000;
}

.drawn {
    size: 5em;
}